

$modal-body-max-width: 100%;
$modal-body-max-height: 100%;
$modal-body-margin-bottom: 10px;

.modal-body {
  max-width: $modal-body-max-width;
  max-height: $modal-body-max-height;
  margin-bottom: $modal-body-margin-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}