$modal-color: black;
$modal-bg-color: #fff;
$modal-padding: 10px;
$modal-border-radius: 5px;
$modal-max-width: 90%;
$modal-max-height: 90%;
$modal-min-width: 560px;
$modal-min-height: 400px;

.modal {
  color: $modal-color;
  background-color: $modal-bg-color;
  padding: $modal-padding;
  border-radius: $modal-border-radius;
  max-width: $modal-max-width;
  max-height: $modal-max-height;
  min-width: $modal-min-width;
  min-height: $modal-min-height;
  overflow-y: auto;
  position: relative;
  flex-direction: column;
  align-items: center;
}
